.row
  .col-md-12
    .login-container.login-v2
      .login-box
        .login-body
          .login-title
            %strong Welcome to Twinkle.
            Please login.

          %a.btn.btn-primary.btn-lg.btn-block{href: '/auth/github'}
            %i.fa.fa-lg.fa-github
            Log in with GitHub
