.rows
  .col-md-12
    .error-container
      .error-code 400
      .error-text Bad request
      .error-subtext
        %p The server cannot or will not process the request.

      .error-actions
        .row
          .col-md-6
            %a.btn.btn-info.btn-block.btn-lg{href: root_url} Home
          .col-md-6
            %button.btn.btn-primary.btn-block.btn-lg{onclick: 'history.back();'} Previous page

  - if @exception && (Rails.env.staging? || !Rails.env.production?)
    .col-md-12
      .panel.panel-danger.error-exception
        .panel-body= render 'errors/exception', exception: @exception
